body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 24);
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.grid-videos {
    text-align: center;
}

.video {
    display: block;
    margin: 0 auto;
}

.link {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.btn-voltar {
    display: block;
    margin-top: 20px;
    text-align: center;
}